[Unit]
Description=container-hal9000-console-proxy.socket
PartOf=container-hal9000-console.service
BindsTo=pod-hal9000.service

[Socket]
ListenStream=127.127.127.127:8080
FreeBind=true

[Install]
WantedBy=sockets.target

