[Unit]
Description=container-hal9000-kalliope-proxy.socket
BindsTo=container-hal9000-kalliope.service
PartOf=pod-hal9000.service

[Socket]
ListenStream=127.0.0.1:5000

[Install]
WantedBy=sockets.target

