[Unit]
Description=container-hal9000-kalliope-proxy.service
Requires=container-hal9000-kalliope.service
After=container-hal9000-kalliope.service
Requires=container-hal9000-kalliope-proxy.socket
After=container-hal9000-kalliope-proxy.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:5555

